<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.simonolander.lambda">

    <application
            android:allowBackup="true"
            android:icon="@drawable/lambert"
            android:label="@string/app_name"
            android:roundIcon="@drawable/lambert"
            android:supportsRtl="true"
            android:theme="@style/Theme.Lambda">
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.Lambda.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
